{{ define "head" }}
<style>
    .chat_container {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .chat_result {
        flex: 1;
        padding: 10px;
        margin: 10px;
        border: 1px solid #000;
    }
</style>
{{ end }}

{{ define "main" }}
<h1>Podcast Llama</h1>
<div id="chat_container" class="chat_container">
    <div id="chat_prompt" class="chat_prompt">Chat with the server</div>
    <div id="chat_result" class="chat_result"></div>
    <p id="meta"></p>
    <form id="chat_form" class="chat_form">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" placeholder="Type your message here">
        <button id="sender" type="submit">Send</button>
    </form>
</div>
{{ end }}

{{ define "scripts" }}
<script>
    // Build the socket connection to the server
    var socket = new WebSocket('ws://localhost:4269/chat');
    socket.onopen = function (e) {
        console.log('Connected to server');
    };
    socket.onmessage = function (e) {
        console.log('Message from server: ' + e.data);
        //parse the JSON data
        var data = JSON.parse(e.data);
        //Add the message to the chat result with new chat_result div in the chat_container
        if (data.done == true) {
            document.getElementById('meta').innerHTML = "Result generated in " + (data.total_duration / 10 ** 9) + " seconds";
        }
        document.getElementById('chat_result').innerHTML += convertPlainTextToHTML(data.message.content);

    };
    socket.onclose = function (e) {
        console.log('Connection closed');
    };

    function convertPlainTextToHTML(text) {
        return text.replace(/\n/g, '<br>');
    }

</script>

<script>
    //handle the form submission
    document.getElementById('chat_form').addEventListener('submit', function (e) {
        console.log('Form submitted');
        e.preventDefault();
        //get the message from the input
        var message = document.getElementById('message').value;

        //clear chat result
        document.getElementById('chat_result').innerHTML = "";
        //send the message to the server
        socket.send(JSON.stringify({
            type: 1,
            content: message
        }));
        //clear the input
        document.getElementById('chat_prompt').innerHTML = "Prompt: " + message;
    });
</script>
{{ end }}