{{ define "head"}}
{{end}}

{{ define "main" }}

<h1>Search results</h1>
{{ if .Count }}
    <p>Found {{ .Count }} podcasts</p>
    <ul>
        {{ range .Feeds }}
            <li><a href="/podcast/{{ .ID }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
{{ else }}
    <p>No podcasts found</p>
{{ end }}
{{ end }}


{{ define "scripts" }}
{{end}}